<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>管理后台</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
